@charset "utf-8";

.button_big{
    border:2px solid #00B6FF;
    font-size: 5em;
    font-weight: 700;
    color:#00B6FF;
    border-radius: 10px;
    background-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer;
    line-height: 150%;
}
.button_big:hover{
    background-color: rgba(0, 182, 255,0.2);
}
.article_title{
    font-weight: 800;
    color: #00B6FF;
}
.article_content{
    line-height: 190%;
    font-weight: 400;
}
.article_title_big{
    font-weight: 800;
    padding-top:20px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #333333;
}
.article_category{
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
    color: #00B6FF; 
    text-align: center;
}
.article_down{
    display: block;
    margin: 150px auto;
    
}

/*to top fade in*/
.active_to_top_fade_in{
    opacity: 1;    
    transform:translateY(100px);
}

/*toggle*/
.opacityToggle{
    opacity:0;
    transition-delay: background-Color 0s;
}
.header_blur{
    background-color: rgba(255, 255, 255,0.8);
    backdrop-filter: blur(10px);
    z-index:20;
    border-bottom:2px solid #ffffff;
    transition-delay: 1s;
}

/*fadein animation*/
.to-top{
    transform: translateY(100px);
    opacity:0;
    transition: opacity 0.5s, transform 1s;
}
.back-to-position.to-top{
    opacity:1 !important;
    transform: translate(0,0);
}
.to-right{
    transform: translateX(-100px);
    opacity:0;
    transition: opacity 0.5s, transform 1s;
}
.back-to-position.to-right{
    opacity:1 !important;
    transform: translate(0,0);
}
.to-left{
    transform: translateX(100px);
    opacity:0;
    transition: all 1s;
}
.back-to-position.to-left{
    opacity:1 !important;
    transform: translate(0,0);
}

.back-top-position.delay-0{
    transition-delay:0s;
}
.back-top-position.delay-1{
    transition-delay:0.3s;
}
.back-top-position.delay-2{
    transition-delay:0.6s;
}
.back-top-position.delay-3{
    transition-delay:0.9s;
}


