@charset "utf-8";

.inner{
    width:1200px;
    margin: 0 auto;
}
.button_big{
    border:2px solid #00B6FF;
    font-size: 5em;
    font-weight: 700;
    color:#00B6FF;
    border-radius: 10px;
    background-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer;
    line-height: 150%;
}
.button_big:hover{
    background-color: rgba(0, 182, 255,0.2);
}
.article_title{
    font-weight: 800;
    color: #00B6FF;
}
.article_content{
    line-height: 190%;
    font-weight: 400;
}
.article_title_big{
    font-weight: 800;
    padding-top:20px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #333333;
}
.article_category{
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
    color: #00B6FF; 
    text-align: center;
}
.article_down{
    display: block;
    margin: 150px auto;
    
}

/*to top fade in*/
.active_to_top_fade_in{
    opacity: 1;    
    transform:translateY(100px);
}

/*toggle*/
.opacityToggle{
    opacity:0;
    transition-delay: background-Color 0s;
}
.header_blur{
    background-color: rgba(255, 255, 255,0.8);
    backdrop-filter: blur(10px);
    z-index:20;
    border-bottom:2px solid #ffffff;
    transition-delay: 1s;
}

/*fadein animation*/
.to-top{
    transform: translateY(100px);
    opacity:0;
    transition: opacity 0.5s, transform 1s;
}
.back-to-position.to-top{
    opacity:1 !important;
    transform: translate(0,0);
}
.to-right{
    transform: translateX(-100px);
    opacity:0;
    transition: opacity 0.5s, transform 1s;
}
.back-to-position.to-right{
    opacity:1 !important;
    transform: translate(0,0);
}
.to-left{
    transform: translateX(100px);
    opacity:0;
    transition: all 1s;
}
.back-to-position.to-left{
    opacity:1 !important;
    transform: translate(0,0);
}

.back-top-position.delay-0{
    transition-delay:0s;
}
.back-top-position.delay-1{
    transition-delay:0.3s;
}
.back-top-position.delay-2{
    transition-delay:0.6s;
}
.back-top-position.delay-3{
    transition-delay:0.9s;
}


/*HEADER FOOTER EACH SIZE*/
@media screen and (min-width:1200px) {
    html {
        font-size: 4px;
        scroll-behavior: smooth;
    }

    .wrap {
        width: 100%;
        /* overflow: hidden; */
        /* position:relative; */
    }

    .inner {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .article_category {
        padding-top: 300px;
    }

    .button_big {
        padding: 20px 33px;
        font-size: 5em;
        margin-top: 30px;
    }

    .button_big:hover {
        background-color: rgba(0, 182, 255, 0.2);
    }

    .article_title {
        font-size: 6em;
    }

    .article_content {
        font-size: 4.5em;
        padding-top: 36px;
    }

    .article_title_big {
        font-size: 12em;
    }

    .article_category {
        font-size: 12em;
    }


    /*HEADER*/
    header {
        width: 100%;
        height: 72px;
        /* background-color: blue; */
        font-size: 4em;
        font-weight: 700;
        position: fixed;
        z-index: 10;
        transition-property: background-color border;
        box-sizing: content-box;
        
    }

    header .inner {
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    header .inner #logo .hamburger_menu {
        display: block;
    }

    header .inner #logo a {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    header .inner #logo a #logo_img {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 60px;
        overflow: hidden;
    }

    header .inner #logo a #logo_img #logo_img_blue {
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
    }

    header .inner #logo a #logo_img #logo_img_white {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
    }

    header span {
        color: #00B6FF;
    }

    header .inner ul {
        display: flex;
        column-gap: 28px;
        position: relative;
        cursor: pointer;
        align-items: center;
    }

    header li {
        color: #00B6FF;
        position: relative;
        padding: 20px 0;
        line-height: 120%;
        display: flex;
    }

    header .inner ul li a {
        color: #00B6FF;
    }

    header .inner ul li #language_icon {
        color: #00B6FF;
        font-size: 20px;
    }

    header .inner ul #language_select div {
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: #00B6FF;
        line-height: 120%;
    }

    header .inner ul #language_select #language_icon,
    header .inner ul #language_select #language-korean {
        color: #00B6FF;
    }

    header .inner ul #language_select #language-english {
        color: #333;
    }

    header .inner ul #language_select #language-english:hover {
        color: #00B6FF;
    }

    header .first_category>span {
        display: flex;
        align-content: center;
        gap: 4px;
    }

    header .inner ul li .second_category {
        display: flex;
        flex-direction: column;
        position: absolute;
        display: none;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 16px;
        border-radius: 8px;
        border: 2px solid #00B6FF;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.7);
        width: 170%;

    }

    #category_wrap {
        display: none;
    }

    .first_category,
    #language_icon,
    #language-korean,
    #logo_text {
        transition: color 1s;
    }


    header .inner ul li:hover .second_category {
        display: block;
    }

    header .inner ul li .second_category::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -8px;
        border-top: 8px solid none;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #00B6FF;
    }

    header .inner ul li .second_category li {
        display: block;
        padding: 4px 0px;
        line-height: 140%;
    }

    header .inner ul li .second_category li:first-child {
        padding-top: 0px;
    }

    header .inner ul li .second_category li:last-child {
        padding-bottom: 0px;
    }

    header .inner ul li .second_category li a {
        color: #333333;
    }

    header .inner ul li .second_category li a:hover {
        color: #00B6FF;
    }

    /*footer*/
    footer {
        margin-top: 50px;
        height: 300px;
    }


    footer .inner {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    footer .inner div{
        width: 100px;
        height: 100px;
        display: block;
        border: 80px;
    }

    footer .inner #description {
        flex-grow: 1;
        font-size: 4em;
        color: #00B6FF;
        font-weight: 700;
        line-height: 160%;
    }

    footer .inner #ghibli_site {
        font-size: 4em;
        color: #333333;
        font-weight: 700;
    }

    footer .inner div {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
    }

    footer .inner div img {
        width: 100%;
    }
}


@media screen and (min-width:768px) and (max-width:1199px) {
    html {
        font-size: 3px;
        scroll-behavior: smooth;
    }
    body {
        position: relative;
        overflow-x: hidden;
    }
    .wrap{
        width: 100%;
        /* overflow: hidden; */
    }
    
    .inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .article_category {
        padding-top: 200px;
    }

    .article_content {
        padding-top:16px;
        font-size: 5em;
    }

    .button_big {
        padding: 15px 28px;
        font-size: 6em;
        margin-top:16px;
    }

    .button_big:hover {
        background-color: rgba(0, 182, 255, 0.2);
    }

    .article_title {
        font-size: 6em;
    }

    .article_title_big {
        font-size: 12em;
    }

    .article_category {
        font-size: 12em;
    }

   
    header {
        width: 100%;
        height: 72px;
        /* background-color: blue; */
        font-size: 6em;
        font-weight: 700;
        color:#333;
        position: fixed;
        z-index: 30;
        transition-property: background-color border;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:5%;
    }

    .hamburger_menu {
        width: 24px;
        height: 18px;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 10;
        transition: all 1s;
    }

    .hamburger_menu span {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #00B6FF;
        margin-bottom: 6px;
        position: absolute;
        transition: transform 0.3s 0s, top 0.3s 0.4s, opacity 0.3s 0.3s, background-color 1s;
    }

    .hamburger_menu span:nth-of-type(1) {
        top: 0px;
    }

    .hamburger_menu span:nth-of-type(2) {
        top: 9px;
    }

    .hamburger_menu span:nth-of-type(3) {
        top: 18px;
    }

    .hamburger_menu span.active {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
        background-color: #00B6FF;
    }

    .hamburger_menu span:nth-of-type(1).active {
        top: 9px;
        transform: rotate(45deg);
    }

    .hamburger_menu span:nth-of-type(2).active {
        opacity: 0;
    }

    .hamburger_menu span:nth-of-type(3).active {
        top: 9px;
        transform: rotate(-45deg);
    }

    .new-transition {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
    }

    header .inner #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .inner #logo a {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    
    header .inner #logo a #logo_img {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 60px;
        overflow: hidden;
    }


    header #logo_img_blue {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #logo_img_white {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #category{
        display: none;
    }
    
    /*header-middle*/
    #logo_text.header-middle{
        color:#fff;
        transition: all 1s;
    }
    .hamburger_menu .header-middle{
        background-color: #fff;
    }
    #logo_img_white.header-middle{
        opacity: 1;
    }
    #logo_img_blue.header-middle{
        opacity: 0;
    }
        
    #logo_text.header-middle.change{
        color:#00B6FF;
    }
    .hamburger_menu .header-middle.change{
        background-color: #00B6FF;
    }
    #logo_img_white.header-middle.change{
        opacity: 0;
    }
    #logo_img_blue.header-middle.change{
        opacity: 1;
    }
    header.header-middle.change{
        border-bottom: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }


    header #category_wrap{
        width: 100%;
        height: 0vh;
        background-color: #f3fbff;
        position: absolute;
        top:0;
        padding: 0vh 5%;
        display: block;
        transition: all 0.6s ease-out;
        overflow: hidden;
    }
    header #category_wrap.showCategory{
        height: 100vh;
        padding: 10vh 5%;
        visibility: visible;
    }

    header #category-middle {
        display: flex;
        flex-flow: column;
        gap:50px;
        line-height: 26px;
        position: relative;
        width:100%;
        
    }
    header #category-middle>.first_category-middle{
        color:#00B6FF;
        font-size: 16px;
        display:flex;
        justify-content: space-between;
        flex-flow: wrap;
        cursor: pointer;
        border-bottom: 1px solid #00B6FF;
    } 


    header #category-middle .second_category-middle{
        visibility: hidden;
        margin-top:10px;
        height:0px;
        width:100%;
        opacity: 0;
        transition: opacity 1s, transform 0.4s;
        transform: translateY(-5px);
    }
    header #category-middle .second_category-middle.showCategory{
        visibility: visible;
        height: auto;
        opacity: 1;
        transform: translateY(0px);
    }
    
    header .plus.showCategory{
        transform: rotate(45deg);
    }

    header #category-middle .second_category-middle li{
        line-height: 30px;
        font-size: 0.9em;
    }
    header #category-middle .second_category-middle li a:hover{
        color: #00B6FF;
    }
    header #language_select-middle span{
        display: flex;
        color: #00B6FF;
    }
    header #language_select-middle #language-english-middle:hover{
        color:#00B6FF;
        cursor:pointer;
    }

    .material-icons{
        font-size: 20px;
        line-height: 25px;
        color:#00B6FF;
    }

    header .first_category-middle > span{
        display: flex;
        align-content: center;
        gap:6px;
        line-height: 26px;
        color: #00B6FF;
    }

    
    /*footer*/
    footer {
        margin-top: -50px;
        height: 300px;
    }

    footer .inner {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }

    footer .inner #description {
        flex-grow: 1;
        font-size: 4em;
        color: #00B6FF;
        font-weight: 700;
        line-height: 160%;
        width: 40%;
    }

    footer .inner #ghibli_site {
        font-size: 4em;
        color: #333333;
        font-weight: 700;
        text-align: right;
    }

    footer .inner div {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
    }

    footer .inner div img {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width:767px){
    html {
        font-size: 3px;
        scroll-behavior: smooth;
    }

    .wrap{
        width: 100%;
        overflow: hidden;
    }

    .inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .article_category {
        padding-top: 150px;
    }

    .article_content {
        padding-top:16px;
        font-size: 5em;
    }

    .button_big {
        padding: 12px 26px;
        font-size: 5em;
        margin-top:16px;
        border-radius: 8px;
    }

    .button_big:hover {
        background-color: rgba(0, 182, 255, 0.2);
    }

    .article_title {
        font-size: 5em;
    }

    .article_title_big {
        font-size: 10em;
    }
    .article_title_big-2 {
        font-size: 10em;
        font-weight: 800;
    }

    .article_category {
        font-size: 10em;
    }


    
    /*HEADER*/

    header {
        width: 100%;
        height: 72px;
        /* background-color: blue; */
        font-size: 6em;
        font-weight: 700;
        color:#333;
        position: fixed;
        z-index: 30;
        transition-property: background-color border;
        box-sizing: content-box;
    }

    header .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:5%;
    }

    .hamburger_menu {
        width: 24px;
        height: 18px;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 10;
        transition: all 1s;
    }

    .hamburger_menu span {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #00B6FF;
        margin-bottom: 6px;
        position: absolute;
        transition: transform 0.3s 0s, top 0.3s 0.4s, opacity 0.3s 0.3s, background-color 1s;
    }

    .hamburger_menu span:nth-of-type(1) {
        top: 0px;
    }

    .hamburger_menu span:nth-of-type(2) {
        top: 9px;
    }

    .hamburger_menu span:nth-of-type(3) {
        top: 18px;
    }

    .hamburger_menu span.active {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
        background-color: #00B6FF;
    }

    .hamburger_menu span:nth-of-type(1).active {
        top: 9px;
        transform: rotate(45deg);
    }

    .hamburger_menu span:nth-of-type(2).active {
        opacity: 0;
    }

    .hamburger_menu span:nth-of-type(3).active {
        top: 9px;
        transform: rotate(-45deg);
    }

    .new-transition {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
    }

    header .inner #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .inner #logo a {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    
    header .inner #logo a #logo_img {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 60px;
        overflow: hidden;
    }


    header #logo_img_blue {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #logo_img_white {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #category{
        display: none;
    }
    
    /*header-middle*/
    #logo_text.header-middle{
        color:#fff;
        transition: all 1s;
    }
    .hamburger_menu .header-middle{
        background-color: #fff;
    }
    #logo_img_white.header-middle{
        opacity: 1;
    }
    #logo_img_blue.header-middle{
        opacity: 0;
    }
        
    #logo_text.header-middle.change{
        color:#00B6FF;
    }
    .hamburger_menu .header-middle.change{
        background-color: #00B6FF;
    }
    #logo_img_white.header-middle.change{
        opacity: 0;
    }
    #logo_img_blue.header-middle.change{
        opacity: 1;
    }
    header.header-middle.change{
        border-bottom: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }


    header #category_wrap{
        width: 100%;
        height: 0vh;
        background-color: #f3fbff;
        position: absolute;
        top:0;
        padding: 0vh 5%;
        display: block;
        transition: all 0.6s ease-out;
        overflow: hidden;
    }
    header #category_wrap.showCategory{
        height: 100vh;
        padding: 10vh 5%;
        visibility: visible;
    }

    header #category-middle {
        display: flex;
        flex-flow: column;
        gap:50px;
        line-height: 26px;
        position: relative;
        width:100%;
        
    }
    header #category-middle>.first_category-middle{
        color:#00B6FF;
        font-size: 16px;
        display:flex;
        justify-content: space-between;
        flex-flow: wrap;
        cursor: pointer;
        border-bottom: 1px solid #00B6FF;
    } 


    header #category-middle .second_category-middle{
        visibility: hidden;
        margin-top:10px;
        height:0px;
        width:100%;
        opacity: 0;
        transition: opacity 1s, transform 0.4s;
        transform: translateY(-5px);
    }
    header #category-middle .second_category-middle.showCategory{
        visibility: visible;
        height: auto;
        opacity: 1;
        transform: translateY(0px);
    }
    
    header .plus.showCategory{
        transform: rotate(45deg);
    }

    header #category-middle .second_category-middle li{
        line-height: 30px;
        font-size: 0.9em;
    }
    header #category-middle .second_category-middle li a:hover{
        color: #00B6FF;
    }
    header #language_select-middle span{
        display: flex;
        color: #00B6FF;
    }
    header #language_select-middle #language-english-middle:hover{
        color:#00B6FF;
        cursor:pointer;
    }

    .material-icons{
        font-size: 20px;
        line-height: 25px;
        color:#00B6FF;
    }

    header .first_category-middle > span{
        display: flex;
        align-content: center;
        gap:6px;
        line-height: 26px;
        color: #00B6FF;
    }

    
    /*footer*/
    footer .inner {
        margin-top:120px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-self: center;
        gap: 16px;
        padding-bottom: 80px;
    }

    footer .inner #description {
        margin: 0 auto;
        font-size: 4em;
        color: #00B6FF;
        font-weight: 700;
        width: 100%;
        height: 50px;
        text-align: center;
    }

    footer .inner #ghibli_site {
        display: none;
    }

    footer .inner div {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
    }

    footer .inner div img {
        width: 100%;
        height: 100%;
    }
}

