@charset "utf-8";

@media screen and (min-width:768px) and (max-width:1199px) {
    html {
        font-size: 3px;
        scroll-behavior: smooth;
    }
    body {
        position: relative;
        overflow-x: hidden;
    }
    .wrap{
        width: 100%;
        /* overflow: hidden; */
    }
    
    .inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .article_category {
        padding-top: 200px;
    }

    .article_content {
        padding-top:16px;
        font-size: 5em;
    }

    .button_big {
        padding: 15px 28px;
        font-size: 6em;
        margin-top:16px;
    }

    .button_big:hover {
        background-color: rgba(0, 182, 255, 0.2);
    }

    .article_title {
        font-size: 6em;
    }

    .article_title_big {
        font-size: 12em;
    }

    .article_category {
        font-size: 12em;
    }

   
    header {
        width: 100%;
        height: 72px;
        /* background-color: blue; */
        font-size: 6em;
        font-weight: 700;
        color:#333;
        position: fixed;
        z-index: 30;
        transition-property: background-color border;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:5%;
    }

    .hamburger_menu {
        width: 24px;
        height: 18px;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 10;
        transition: all 1s;
    }

    .hamburger_menu span {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #00B6FF;
        margin-bottom: 6px;
        position: absolute;
        transition: transform 0.3s 0s, top 0.3s 0.4s, opacity 0.3s 0.3s, background-color 1s;
    }

    .hamburger_menu span:nth-of-type(1) {
        top: 0px;
    }

    .hamburger_menu span:nth-of-type(2) {
        top: 9px;
    }

    .hamburger_menu span:nth-of-type(3) {
        top: 18px;
    }

    .hamburger_menu span.active {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
        background-color: #00B6FF;
    }

    .hamburger_menu span:nth-of-type(1).active {
        top: 9px;
        transform: rotate(45deg);
    }

    .hamburger_menu span:nth-of-type(2).active {
        opacity: 0;
    }

    .hamburger_menu span:nth-of-type(3).active {
        top: 9px;
        transform: rotate(-45deg);
    }

    .new-transition {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
    }

    header .inner #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .inner #logo a {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    
    header .inner #logo a #logo_img {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 60px;
        overflow: hidden;
    }


    header #logo_img_blue {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #logo_img_white {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #category{
        display: none;
    }
    
    /*header-middle*/
    #logo_text.header-middle{
        color:#fff;
        transition: all 1s;
    }
    .hamburger_menu .header-middle{
        background-color: #fff;
    }
    #logo_img_white.header-middle{
        opacity: 1;
    }
    #logo_img_blue.header-middle{
        opacity: 0;
    }
        
    #logo_text.header-middle.change{
        color:#00B6FF;
    }
    .hamburger_menu .header-middle.change{
        background-color: #00B6FF;
    }
    #logo_img_white.header-middle.change{
        opacity: 0;
    }
    #logo_img_blue.header-middle.change{
        opacity: 1;
    }
    header.header-middle.change{
        border-bottom: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }


    header #category_wrap{
        width: 100%;
        height: 0vh;
        background-color: #f3fbff;
        position: absolute;
        top:0;
        padding: 0vh 5%;
        display: block;
        transition: all 0.6s ease-out;
        overflow: hidden;
    }
    header #category_wrap.showCategory{
        height: 100vh;
        padding: 10vh 5%;
        visibility: visible;
    }

    header #category-middle {
        display: flex;
        flex-flow: column;
        gap:50px;
        line-height: 26px;
        position: relative;
        width:100%;
        
    }
    header #category-middle>.first_category-middle{
        color:#00B6FF;
        font-size: 16px;
        display:flex;
        justify-content: space-between;
        flex-flow: wrap;
        cursor: pointer;
        border-bottom: 1px solid #00B6FF;
    } 


    header #category-middle .second_category-middle{
        visibility: hidden;
        margin-top:10px;
        height:0px;
        width:100%;
        opacity: 0;
        transition: opacity 1s, transform 0.4s;
        transform: translateY(-5px);
    }
    header #category-middle .second_category-middle.showCategory{
        visibility: visible;
        height: auto;
        opacity: 1;
        transform: translateY(0px);
    }
    
    header .plus.showCategory{
        transform: rotate(45deg);
    }

    header #category-middle .second_category-middle li{
        line-height: 30px;
        font-size: 0.9em;
    }
    header #category-middle .second_category-middle li a:hover{
        color: #00B6FF;
    }
    header #language_select-middle span{
        display: flex;
        color: #00B6FF;
    }
    header #language_select-middle #language-english-middle:hover{
        color:#00B6FF;
        cursor:pointer;
    }

    .material-icons{
        font-size: 20px;
        line-height: 25px;
        color:#00B6FF;
    }

    header .first_category-middle > span{
        display: flex;
        align-content: center;
        gap:6px;
        line-height: 26px;
        color: #00B6FF;
    }

    /*MAIN SECTION*/
    #main_section .full_inner{
        display: none;
    }
    .full_inner-middle{
        z-index:2;
        width:100%;
        height:100vh;
    }
    #main-big{
        display: none;
    }
    #main_section{
        position: relative;
    }
    #img_box-middle{
        position: absolute;
        bottom:0;
        width: 100%;
        height: 100%;
        background-image: url('../img/main/howl_background.png');
        background-repeat: no-repeat;
        background-size: cover;
        animation: howl_background_move 200s alternate infinite;
    }

    #img_box-middle #howl-middle{
        width: 100%;
        position: absolute;
        top:50%;
        animation: howl_move 2s alternate infinite;
    }
    #studioGhibli_write-middle{
        position: absolute;
        left:50%;
        transform:translateX(-50%);
        width:  80%;
        z-index: 1;
        bottom:10%;
    }

    .inner-middle{
        position: relative;
        top:100%;
        /* background-color: pink; */
        width: 100%;
        height: 100%;
        background-color: 100%;
        
    }

    #change_img_text-middle{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 9em;
        font-weight: 800;
        transition: all 0.6s;
    }
    
    .colorChange{
        animation:  text-color-change 1s;
        animation-fill-mode: both;
    }

    @keyframes text-color-change{
        to{
            font-size: 10em;
            color:#00B6FF;
        }
    }

    @keyframes howl_move {
        to {
            transform: translate(0, -50%);
        }

        from {
            transform: translate(5px, -50%);
        }
    }

    @keyframes howl_background_move {
        to {
            background-position: 0%;
        }

        from {
            background-position: 50%;
        }
    }



    /*Introduce Ghibli*/
    #introduce_ghibli .inner {
        margin-top:100%;
        height: 1000px;
        /* background-color: #ffffff; */
        /* background-color: BLUE; */
    }

    #introduce_ghibli .inner img {
        width: 60%;
        position: absolute;
        top: 10%;
        left: 20%;
    }

    #introduce_ghibli .inner .arrow_down {
        position: absolute;
        bottom: 200px;
        left: 50%;
    }

    /*About Ghibli*/
    #about_ghibli {
        background-color: rgba(0, 182, 255, 0.1);
        padding-top:30px;
        padding-bottom:30px;
    }

    #about_ghibli .inner {
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about_ghibli .inner #about_ghibli_article_align {
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap:40px;
    }

    #about_ghibli .inner #about_ghibli_article_align .article_content {
        width: 100%;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_korean_name {
        font-size: 12em;
        font-weight: 800;
        padding-top: 20px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_english_name {
        font-size: 9em;
        font-weight: 800;
        padding-top: 4px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article1,
    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article2 {
        width: 80%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 50px 50px;

    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article2 ul {
        padding-left: 4%;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article2 ul li {
        list-style-type: disc;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article3 {
        width: 80%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 70px 50px;
    }


    /*Ghibli Animation*/

    #ghibli_animation .inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        column-gap: 3%;
        overflow: hidden;
    }

    #ghibli_animation .inner #article_area {
        width: 90%;
    }

    #ghibli_animation .inner .article_category,
    #ghibli_animation .inner .arrow_down {
        width: 100%;
    }

    #ghibli_animation .inner #pagination_area {
        width: 2%;
        display:none;
    }

    

    #ghibli_animation #ghibli_animation_article1 {
        text-align: center;
        position: relative;
        height: 700px;
        scroll-margin-top: 80px;
        box-sizing: content-box;
        padding-bottom: 100px;
    }
    #ghibli_animation #ghibli_animation_article1 .article_content{
        width: 80%;
        margin: 0 auto;
    }

    #ghibli_animation #ghibli_animation_article1 button {
        margin-top: 36px;
    }

    #ghibli_animation img {
        width: 100%;
    }

    #ghibli_animation #ghibli_animation_article1_all {
        /* background-color: pink; */
        position: absolute;
        bottom: 106px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        margin: 0;
        transition: all 0.5s;
    }

    #ghibli_animation #ghibli_animation_article1_img_background {
        position: absolute;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 25%;
        border-radius: 500px;
        overflow: hidden;
        z-index: -1;
        background-image: url('../img/main/aniamtion_SpiritedAway_Background2.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #ghibli_animation #ghibli_animation_article1_haku {
        width: 100%;
        transition: all 0.5s;
    }

    #ghibli_animation #ghibli_animation_article1_haku img:nth-child(1) {
        position: absolute;
        width: 45%;
        bottom: 110px;
        left: 15%;
        z-index: 1;
        animation: rightToLeft 3s ease alternate infinite;
    }

    #ghibli_animation #ghibli_animation_article1_haku img:nth-child(2) {
        position: absolute;
        width: 42%;
        bottom: 20%;
        right: 10%;
        z-index: 1;
        animation: haku 3s ease alternate infinite;
    }


    @keyframes haku {
        to {
            transform: translateY(-20px);
        }

        from {
            left: translateY(0px);
        }
    }

    #ghibli_animation #ghibli_animation_article1_img_background_first {
        transition: all 0.5s;
    }

    #ghibli_animation .article_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
    }

    #ghibli_animation .article_row#ghibli_animation_article2 {
        scroll-margin-top: 80px;

    }

    #ghibli_animation .article_row .article_align {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8%;
    }

    #ghibli_animation .article_row .article_left {
        width: 65%;
    }


    #ghibli_animation .article_row .article_right {
        position: relative;
        height: 300px;
        width: 40%;
    }

    #ghibli_animation .article_row .article_background {
        z-index: -1;
        right: 0;
        border-radius: 400px 400px 0% 0%;
        background: url('../img/main/animation_howl_Background.jpg') center / cover no-repeat;
        animation: rightToTopBackground 50s ease alternate infinite;
    }

    #ghibli_animation .article_right .article_element {
        width: 110%;
        position: absolute;
        bottom: 0;
        animation: rightToLeft 3s ease alternate infinite;
    }

    @keyframes rightToLeft {
        to {
            transform: translateX(-30px);
        }

        from {
            transform: translateX(-20px);
        }
    }

    @keyframes rightToTopBackground {
        to {
            background-position: 40% 0%
        }

        from {
            background-position: 50% 0%
        }
    }

    #ghibli_animation_article3 {
        scroll-margin-top: 80px;
    }

    #ghibli_animation_article3.article_row .article_align {
        flex-direction: row-reverse;
    }

    #ghibli_animation_article3.article_row .article_background {
        position: relative;
        z-index: -1;
        right: 0;
        border-radius: 400px 400px 0% 0%;
        background: url('../img/main/aniamtion_totoro_Background1.png') center / cover no-repeat;
        animation: righToLeftBackground2 50s ease alternate infinite;
    }

    #ghibli_animation_article3.article_row .article_background img:nth-child(1) {
        position: absolute;
        top: 0%;
        left: -10%;
        width: 40%;
        animation: bottomToTop 2s alternate infinite;
    }

    #ghibli_animation_article3.article_row .article_background img:nth-child(2) {
        position: absolute;
        right: -20%;
        top: 40%;
        width: 70%;
        animation: bottomToTop 2s -1s alternate infinite;
    }

    @keyframes bottomToTop {
        to {
            transform: translateY(0px);
        }

        from {
            transform: translateY(10px);
        }
    }

    @keyframes righToLeftBackground2 {
        to {
            background-position: 50% 0%
        }

        from {
            background-position: 60% 0%
        }
    }

    #ghibli_animation_article4.article_row {
        scroll-margin-top: 80px;
    }

    #ghibli_animation_article4.article_row .article_background {
        position: relative;
        z-index: -1;
        right: 0;
        border-radius: 400px 400px 0% 0%;
        background: url('../img/main/aniamtion_mononoke_Background.png') center / cover no-repeat;
        animation: righToLeftBackground2 50s ease alternate infinite;
    }

    #ghibli_animation_article4.article_row .article_background img {
        position: absolute;
        bottom: 0;
        left: -10%;
        width: 100%;
        animation: rightToLeft2 3s alternate infinite;
    }

    @keyframes rightToLeft2 {
        to {
            transform: translateX(20px);
        }

        from {
            transform: translateX(30px);
        }
    }

    #article_area-middle{
        display: none;
    }

    /*ghibli_others*/

    #ghibli_others .inner{
            width: 100vw;
            /* background-color: gold; */
    }
    #ghibli_others .inner .flip-line{
        display: none;
    }
    #ghibli_others .inner .flip-line {
        /* background-color: gold; */
        width: 100%;
        height: 3000px;
        padding-bottom: 500px;
        position: relative;
    }

    .others-flip-all .others-flip-align {
        display: flex;
        column-gap: 50px;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom:200px;
    }

    .flip-line-middle{
        display: flex;
        justify-content: center;
    }
    .others-flip-all .others-flip-align .flip-content {
        width: 50%;
    }

    .others-flip-all .others-flip {
        width: 280px;
        perspective: 1000px;
    }

    .others-flip-all .others-flip:hover {
        cursor: pointer;
    }

    .others-flip-all .flip-inner {
        position: relative;
        width: 100%;
        height: 400px;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    .others-flip:nth-child(2n){
        display: none;
    }

    .others-flip-all .flip-inner img {
        width: 100%;
        height: 100%;
    }

    .others-flip:hover .flip-inner {
        transform: rotateY(180deg);
    }

    .others-flip-all .flip-inner .flip-front,
    .others-flip-all .flip-inner .flip-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 20px;
    }

    .others-flip-all .flip-inner .flip-back {
        transform: rotateY(180deg);
    }


    /*ghibli_world*/
    #ghibli_world .inner {
        height: 900px;
    }

    #ghibli_world .full_inner {
        position: static;
    }

    #ghibli_world .full_inner#ghibli_world_background {
        margin-top: 100px;
        background-image: url('../img/main/ghibli_world.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 614px;
        display: flex;

    }

    #ghibli_world .full_inner#ghibli_world_background .inner svg {
        margin: 0 auto;
    }

    #ghibli_world .full_inner#ghibli_world_background .inner h3 {
        margin-top: 0px;
        padding-top: 200px;
        padding-bottom: 150px;
        color: #FFFFFF;
    }


    #ghibli_world .inner_article {
        position: relative;
    }
    
    .ghibli_world_tour h3{
        display: flex;
        align-items: center;
        gap:10px;
    }

    .ghibli_world_tour:nth-child(1) {
        width: 42%;
        /* background-color: red; */
        position: absolute;
        top: 250px;
        left: 5%;

    }

    .ghibli_world_tour:nth-child(2) {
        width: 42%;
        /* background-color: red; */
        position: absolute;
        top: 350px;
        right: 5%;

    }

    .ghibli_world_tour button {
        margin: 16px auto;
    }

    .ghibli_world_tour .ghibli_world_tour_img_1 {
        width: 100%;
        height: 300px;
        background: url('../img/main/ghibli_world_tour_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0 20px 20px;
    }

    .ghibli_world_tour .ghibli_world_tour_img_2 {
        width: 100%;
        height: 300px;
        background: url('../img/main/ghibli_world_tour_2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0 20px 20px;
    }

    /*ghibli_notice*/
    #ghibli_notice {
        position: relative;
    }

    #ghibli_notice .inner {
        overflow: hidden;
        /* background-color: yellow; */
        padding-bottom: 100px;
    }

    #ghibli_notice svg {
        margin-bottom: 200px;
    }

    #ghibli_notice .ghibli_notice_background {
        position: absolute;
        bottom: -50px;
        z-index: -1;
        width: 100vw;
        height: 600px;
        transform: translateY(-100px);
        background-color: rgba(0, 182, 255, 0.1);
    }

    #notice_article {
        position: relative;
        /* background-color: red; */
        width: 300%;
        height: 560px;
        display: flex;

    }

    #notice_article .notice {
        /* position:absolute; */
        display: flex;
        justify-content: center;
        gap: 10%;
        align-items: center;
        width: 100%;
        height: 560px;
    }


    #ghibli_notice #notice_article .notice_poster {
        width: 300px;
        border-radius: 10px;
        transform: translateY(-80px);
    }

    #ghibli_notice #notice_article .notice_poster img {
        width: 100%;
    }

    #ghibli_notice #notice_article .notice_right {
        margin-bottom: 70px;
        width: 40%;
    }

    #ghibli_notice .slide_button {
        position: absolute;
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
    }

    #ghibli_notice button#prev {
        margin-right: 60px;
    }

    #ghibli_notice button#prev,
    #ghibli_notice button#next {
        width: 80px;
        height: 80px;
        background-color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 50%;
        outline: none;
        transition: all 0.3s;
        cursor: pointer;
    }

    #ghibli_notice button#prev:hover,
    #ghibli_notice button#next:hover {
        border: 2px solid #00B6FF;
    }

    #ghibli_notice button span {
        color: #00B6FF;
        font-size: 3em;
        transform: translateY(6px);
    }

    #ghibli_notice button#prev span {
        transform: translate(6px, 6px);
    }

    /*footer*/
    footer {
        margin-top: -50px;
        height: 300px;
    }

    footer .inner {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }

    footer .inner #description {
        flex-grow: 1;
        font-size: 4em;
        color: #00B6FF;
        font-weight: 700;
        line-height: 160%;
        width: 40%;
    }

    footer .inner #ghibli_site {
        font-size: 4em;
        color: #333333;
        font-weight: 700;
        text-align: right;
    }

    footer .inner div {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
    }

    footer .inner div img {
        width: 100%;
        height: 100%;
    }
}