@charset "utf-8";

@media screen and (max-width:767px){
    html {
        font-size: 3px;
        scroll-behavior: smooth;
    }

    .wrap{
        width: 100%;
        overflow: hidden;
    }

    .inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .article_category {
        padding-top: 100px;
    }

    .article_content {
        padding-top:16px;
        font-size: 5em;
    }

    .button_big {
        padding: 15px 28px;
        font-size: 5em;
        margin-top:16px;
    }

    .button_big:hover {
        background-color: rgba(0, 182, 255, 0.2);
    }

    .article_title {
        font-size: 6em;
    }

    .article_title_big {
        font-size: 12em;
    }
    .article_title_big-2 {
        font-size: 12em;
        font-weight: 800;
    }

    .article_category {
        font-size: 12em;
    }


    
    /*HEADER*/

    header {
        width: 100%;
        height: 72px;
        /* background-color: blue; */
        font-size: 6em;
        font-weight: 700;
        color:#333;
        position: fixed;
        z-index: 30;
        transition-property: background-color border;
        box-sizing: content-box;
    }

    header .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding:5%;
    }

    .hamburger_menu {
        width: 24px;
        height: 18px;
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 10;
        transition: all 1s;
    }

    .hamburger_menu span {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #00B6FF;
        margin-bottom: 6px;
        position: absolute;
        transition: transform 0.3s 0s, top 0.3s 0.4s, opacity 0.3s 0.3s, background-color 1s;
    }

    .hamburger_menu span:nth-of-type(1) {
        top: 0px;
    }

    .hamburger_menu span:nth-of-type(2) {
        top: 9px;
    }

    .hamburger_menu span:nth-of-type(3) {
        top: 18px;
    }

    .hamburger_menu span.active {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
        background-color: #00B6FF;
    }

    .hamburger_menu span:nth-of-type(1).active {
        top: 9px;
        transform: rotate(45deg);
    }

    .hamburger_menu span:nth-of-type(2).active {
        opacity: 0;
    }

    .hamburger_menu span:nth-of-type(3).active {
        top: 9px;
        transform: rotate(-45deg);
    }

    .new-transition {
        transition: top 0.3s 0s, transform 0.3s 0.4s, opacity 0.3s 0.3s;
    }

    header .inner #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .inner #logo a {
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    
    header .inner #logo a #logo_img {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 60px;
        overflow: hidden;
    }


    header #logo_img_blue {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #logo_img_white {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height:100%;
    }

    header #category{
        display: none;
    }
    
    /*header-middle*/
    #logo_text.header-middle{
        color:#fff;
        transition: all 1s;
    }
    .hamburger_menu .header-middle{
        background-color: #fff;
    }
    #logo_img_white.header-middle{
        opacity: 1;
    }
    #logo_img_blue.header-middle{
        opacity: 0;
    }
        
    #logo_text.header-middle.change{
        color:#00B6FF;
    }
    .hamburger_menu .header-middle.change{
        background-color: #00B6FF;
    }
    #logo_img_white.header-middle.change{
        opacity: 0;
    }
    #logo_img_blue.header-middle.change{
        opacity: 1;
    }
    header.header-middle.change{
        border-bottom: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
    }


    header #category_wrap{
        width: 100%;
        height: 0vh;
        background-color: #f3fbff;
        position: absolute;
        top:0;
        padding: 0vh 5%;
        display: block;
        transition: all 0.6s ease-out;
        overflow: hidden;
    }
    header #category_wrap.showCategory{
        height: 100vh;
        padding: 10vh 5%;
        visibility: visible;
    }

    header #category-middle {
        display: flex;
        flex-flow: column;
        gap:50px;
        line-height: 26px;
        position: relative;
        width:100%;
        
    }
    header #category-middle>.first_category-middle{
        color:#00B6FF;
        font-size: 16px;
        display:flex;
        justify-content: space-between;
        flex-flow: wrap;
        cursor: pointer;
        border-bottom: 1px solid #00B6FF;
    } 


    header #category-middle .second_category-middle{
        visibility: hidden;
        margin-top:10px;
        height:0px;
        width:100%;
        opacity: 0;
        transition: opacity 1s, transform 0.4s;
        transform: translateY(-5px);
    }
    header #category-middle .second_category-middle.showCategory{
        visibility: visible;
        height: auto;
        opacity: 1;
        transform: translateY(0px);
    }
    
    header .plus.showCategory{
        transform: rotate(45deg);
    }

    header #category-middle .second_category-middle li{
        line-height: 30px;
        font-size: 0.9em;
    }
    header #category-middle .second_category-middle li a:hover{
        color: #00B6FF;
    }
    header #language_select-middle span{
        display: flex;
        color: #00B6FF;
    }
    header #language_select-middle #language-english-middle:hover{
        color:#00B6FF;
        cursor:pointer;
    }

    .material-icons{
        font-size: 20px;
        line-height: 25px;
        color:#00B6FF;
    }

    header .first_category-middle > span{
        display: flex;
        align-content: center;
        gap:6px;
        line-height: 26px;
        color: #00B6FF;
    }

    /*MAIN SECTION*/
    #main_section .full_inner{
        display: none;
    }
    .full_inner-middle{
        z-index:2;
        width:100%;
        height:100vh;
    }
    #main-big{
        display: none;
    }
    #main_section{
        position: relative;
    }
    #img_box-middle{
        position: absolute;
        bottom:0;
        width: 100%;
        height: 100%;
        background-image: url('../img/main/howl_background.png');
        background-repeat: no-repeat;
        background-size: cover;
        animation: howl_background_move 200s alternate infinite;
    }

    #img_box-middle #howl-middle{
        width: 100%;
        position: absolute;
        top:50%;
        animation: howl_move 2s alternate infinite;
    }
    #studioGhibli_write-middle{
        position: absolute;
        left:50%;
        transform:translateX(-50%);
        width:  80%;
        z-index: 1;
        bottom:15%;
    }

    .inner-middle{
        position: relative;
        top:100%;
        /* background-color: pink; */
        width: 100%;
        height: 100%;
        background-color: 100%;
        
    }

    #change_img_text-middle{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 9em;
        font-weight: 800;
        transition: all 0.6s;
    }
    
    .colorChange{
        animation:  text-color-change 1s;
        animation-fill-mode: both;
    }

    @keyframes text-color-change{
        to{
            font-size: 10em;
            color:#00B6FF;
        }
    }

    @keyframes howl_move {
        to {
            transform: translate(0, -50%);
        }

        from {
            transform: translate(5px, -50%);
        }
    }

    @keyframes howl_background_move {
        to {
            background-position: 0%;
        }

        from {
            background-position: 50%;
        }
    }


    /*Introduce Ghibli*/
    #introduce_ghibli{
        margin-top: 100vh;
    }

    #introduce_ghibli .inner {
        height: 700px;
    }

    #introduce_ghibli .inner img {
        width: 60%;
        position: absolute;
        top: 25%;
        left: 20%;
    }

    #introduce_ghibli .inner .arrow_down {
        position: absolute;
        bottom: 100px;
        left: 50%;
    }

    /*About Ghibli*/
    #about_ghibli {
        background-color: rgba(0, 182, 255, 0.1);
        width: 100%;
        padding-top:10%;
        padding-bottom:10%;
    }

    #about_ghibli .inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #about_ghibli .inner #about_ghibli_article_align {
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap:40px;
    }

    #about_ghibli .inner #about_ghibli_article_align .article_content {
        width: 100%;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_korean_name {
        font-size: 12em;
        font-weight: 800;
        padding-top: 20px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_english_name {
        font-size: 9em;
        font-weight: 800;
        padding-top: 4px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article1,
    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article2 {
        width: 80%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 50px 50px;

    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article2 ul {
        padding-left: 4%;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article2 ul li {
        list-style-type: disc;
    }

    #about_ghibli .inner #about_ghibli_article_align #about_ghibli_article3 {
        width: 80%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 70px 50px;
    }


    /*Ghibli Animation*/

    #ghibli_animation .inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        overflow: hidden;
        width: 80%;
        padding-bottom: 100px;
    }

    #ghibli_animation .inner .article_category,
    #ghibli_animation .inner .arrow_down {
        width: 100%;
    }

    #ghibli_animation .inner #article_area {
        display: none;
    }

    .article_background{
        margin-top:15%;
        width: 100%;
        height: 220px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        position: relative;
    }

    #article_area-middle .article_element{
        width: 80%;
        position: absolute;
        bottom:0;
        left:10%;
    }

    #article_area-middle .article_title{
        margin-top:100px;
    }

    #ghibli_animation_article1 .article_title{
        margin-top:0px;
    }
    #ghibli_animation_article1 .article_background{
        background-image: url('../img/main/aniamtion_SpiritedAway_Background1.png');
    }
    #ghibli_animation_article1 .article_element{
        animation: rightToLeft 3s infinite alternate;
    }
    #ghibli_animation_article2 .article_background{
        background-image: url('../img/main/animation_howl_Background.jpg');
        background-position: 0px;
        animation: rightToLeftBackground 3s infinite alternate;
    }
    #ghibli_animation_article2 .article_element{
        animation: rightToLeft 3s infinite alternate;
    }
    #ghibli_animation_article3 .article_background{
        background-image: url('../img/main/aniamtion_totoro_Background1.png');
        background-position: 0px;
    }

    #ghibli_animation_article3 .article_element:nth-of-type(1){
        width: 20%;
        bottom:10%;
        left:0%;
        animation: bottomToTop 2s infinite alternate;
    }
    #ghibli_animation_article3 .article_element:nth-of-type(2){
        width: 40%;
        right:0%;
        left:60%;
        bottom:20%;
        animation: bottomToTop 2s -1s infinite alternate;
    }

    #ghibli_animation_article4 .article_background{
        background-image: url('../img/main/aniamtion_mononoke_Background.png');
    }
#ghibli_animation_article4 .article_element{
    width:60%;
    left:20%;
    animation: rightToLeft 3s infinite alternate;
}

@keyframes rightToLeft {
    to{
        transform: translateX(-10px);
    }
}


@keyframes bottomToTop {
    to{
        transform: translateY(-20px);
    }
}


     /*ghibli_others*/
      #ghibli_others .inner{
        width: 100%;
}


#ghibli_others .inner .flip-line{
    display: none;
}
#ghibli_others .inner .flip-line {
    /* background-color: gold; */
    width: 100%;
    height: 3000px;
    padding-bottom: 500px;
    position: relative;
}

.others-flip-all .others-flip-align {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    align-items: center;
    width: 100%;
    margin-bottom:100px;
}

.flip-line-middle{
    display: flex;
    justify-content: center;
}
.others-flip-all .others-flip-align .flip-content {
    width: 80%;
}

.others-flip-all .others-flip {
    margin-top:30px;
    width: 80%;
    perspective: 1000px;
    order:1;
}

.others-flip-all .others-flip:hover {
    cursor: pointer;
}

.others-flip-all .flip-inner {
    position: relative;
    width: 100%;
    height: 220px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.others-flip:nth-child(2n){
    display: none;
}

.others-flip-all .flip-inner img {
    display: none;
}

.flip-line-middle .others-flip .flip-front{
    background-image: url('../img/main/ghibli_musical_1.jpg');
    background-size: cover;
    background-position: 50% 10%;
}

.flip-line-middle .others-flip #flip-img-2{
    background-image: url('../img/main/ghibli_movie_1-2.jpg');
    background-size: cover;
    background-position: 50% 15%;
}

.others-flip-all .flip-inner .flip-front,
.others-flip-all .flip-inner .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px;
}

.others-flip-all .flip-inner .flip-back {
    transform: rotateY(180deg);
}

.flip-line-middle .flip-content .article_content{
    width: 100%;
}


    /*ghibli_world*/
    #ghibli_world .inner {
        height: 900px;
    }


    #ghibli_world .full_inner#ghibli_world_background {
        margin-top: 100px;
        background-image: url('../img/main/ghibli_world.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 614px;
        display: flex;
    }

    #ghibli_world .full_inner#ghibli_world_background .inner svg {
        margin: 0 auto;
    }

    #ghibli_world .full_inner#ghibli_world_background .inner h3 {
        margin-top: 0px;
        padding-top: 200px;
        padding-bottom: 150px;
        color: #FFFFFF;
    }


    #ghibli_world .inner_article {
        position: relative;
        height: 1450px;
        margin-top:-50px;
        display: flex;
        justify-content: center;
    }
    
    .ghibli_world_tour h3{
        display: flex;
        
        align-items: center;
        gap:10px;
    }

    .ghibli_world_tour:nth-child(1) {
        width: 80%;
        /* background-color: red; */
        position: absolute;
        top: 250px;
    }

    .ghibli_world_tour:nth-child(2) {
        width: 80%;
        /* background-color: red; */
        position: absolute;
        top: 900px;
    }

    .ghibli_world_tour button {
        margin: 16px auto 32px;
    }

    .ghibli_world_tour .ghibli_world_tour_img_1 {
        width: 100%;
        height: 220px;
        background: url('../img/main/ghibli_world_tour_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    }

    .ghibli_world_tour .ghibli_world_tour_img_2 {
        width: 100%;
        height: 220px;
        background: url('../img/main/ghibli_world_tour_2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
    }

    /*ghibli_notice*/

    #ghibli_notice{
        position: relative;
        width: 100%;
    }
    #ghibli_notice .inner {
        overflow: hidden;
        width: 100%;
        /* background-color: pink; */
    }

    #notice_article_align{
        width: 80%;
        margin:0 auto;
    }
    #ghibli_notice svg {
        margin-bottom: 200px;
    }

    .notice{
        width: 100%;
        padding: 0px 3%;
        display: flex;
        gap:50px;
        align-items: center;
        justify-content: center;
        
    }
    .notice_right{
        width: 50%;
    }
    .notice_right .article_content{
        display: none;
    }
    .notice_right .article_title_big{
        font-size: 7em;
        font-family: 'NanumSquare', sans-serif;
        font-weight: 700;
        line-height:130%;
    }
    .notice_poster{
        width:36%;
    }
    .notice_poster img{
        width: 100%;
    }

    #notice_article{
        display: flex;
        width: 300%;
    }

    .ghibli_notice_background{
        position: absolute;
        bottom:-4%;
        z-index: -1;
        width: 100%;
        background-color: rgba(0, 182, 255, 0.1);
        height: 45%;
    }

    .notice .button_big{
    margin-top:13%;
    }

    .slide_button{
        display: flex;
        gap:50px;
        justify-content: center;
        margin-top:20px;
    }
    #prev,
    #next{
        width: 36px;
        height: 36px;
        border-radius: 36px;
        outline: none;
        border: none;
        background-color: #fff;
        transition: all 0.3s;
        border: 2px solid #fff;
    }

    #prev span{
        margin-left:8px;
    }

    #prev:hover,
    #next:hover {
        border: 2px solid #00B6FF;
        cursor: pointer;
    }

    /*footer*/
       

    footer .inner {
        margin-top:120px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-self: center;
        gap: 16px;
        padding-bottom: 80px;
    }

    footer .inner #description {
        margin: 0 auto;
        font-size: 4em;
        color: #00B6FF;
        font-weight: 700;
        width: 100%;
        height: 50px;
        text-align: center;
    }

    footer .inner #ghibli_site {
        display: none;
    }

    footer .inner div {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        overflow: hidden;
    }

    footer .inner div img {
        width: 100%;
        height: 100%;
    }
}